:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  display: block !important;
  // background: #555c6b;
}

mat-drawer-container {
  height: 100%;
  .container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*
  Code for minimized side nav size. 
*/
::ng-deep mat-drawer:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  display: block !important;
  width: 72px !important;
  overflow: hidden;
}

::ng-deep mat-drawer-content:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;

  margin-left: 72px !important;
  overflow: hidden;
}
