<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/img/logo/Logo-Marko.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Applications</h2>

  <a
    mat-list-item
    [routerLink]="['/dashboard']"
    routerLinkActive="list-item-active"
  >
    <mat-icon class="mat-18">dashboard</mat-icon>
    Dashboard
  </a>

  <!-- <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="list-item-active">
  <mat-icon class="mat-18">list</mat-icon>
  Contatos
</a> -->
</mat-nav-list>
