<app-data-table
  [toolbarTitle]="'components.dynamic-data-table.toolbarTitle'"
  [toolbar]="true"
  [columns]="columns"
  [buttons]="buttons"
  [menuButtons]=""
  [data]="data"
  [filterGlobal]="true"
  [filterGlobalLabel]=""
  [filterGlobalPlaceholder]=""
  [filterColumns]="true"
  [filterColumnsLabel]="''"
  [filterColumnsPlaceholder]=""
  [expandDetail]="false"
  [footer]=""
  [pageSizeOptions]="[5]"
  [pageSize]="5"
  [tableMinWidth]="400"
  [tableMinHeigth]="25"
  [isLoadingResultsFilter]="false"
  [isLoadingResults]="false"
  (buttonClick)="buttonClick($event)"
  (rowDblClick)="rowDblClick($event)"
  (pageChange)="loadData($event)"
>
</app-data-table>
